<p>The new user is <%= @users %> </p>
<%= form_for @user do |f| %>
	<div>
		<% f.text_field :first_name, placeholder: "first name" %>
	</div>
	<div>
		<%= f.text_field :last_name, placeholder: "last name" %>
	</div>
	<div>
		<%= f.text_field :email, placeholder: "email" %>
	</div>
	<div>
		<%= f.password_field :password, placeholder: "password" %>
	</div>
	<div>
		<%= f.submit "Sign Up" %>
	</div>
<% end %>